<div class="row">
  <div class="span6 offset3">
    <h1 class="text-center">Tic Tac Toeeee!</h1>
    <h2 class="text-center" id="new-game"><%= link_to "New Game", games_path, method: "post" %></h2>
  </div>
</div>
