<h1>Tic Tac Toeeeeee!</h1>
<h2>Player 1's Turn</h2>
<table>
    <% @game.squares.each do |square| %>
      <% if square.position % 3 == 1 %>
        <tr><td><%= link_to square.mark || "_", move_path(square: square.position, game: params[:id]), id: "square_#{square.position}", method: "put" %></td>
      <% elsif square.position % 3 == 0 %>
        <td><%= link_to square.mark || "_", move_path(square: square.position, game: params[:id]), id: "square_#{square.position}", method: "put" %></td></tr>
      <% else %>
        <td><%= link_to square.mark || "_", move_path(square: square.position, game: params[:id]), id: "square_#{square.position}", method: "put" %></td>
      <% end %>
    <% end %>
</table>