<div class="page-header">
  <div class="row">
    <div class="span6 offset3">
    <h1 class="text-center">Tic Tac Toeeeeee!</h1>
    </div>
  </div>

  <div class="row" id="winner">
    <div class="span6 offset3">
      <h2 class="text-error text-center"><%= @winner || "It's a draw!" %></h1> <br>
      <p class="text-center"><%= link_to "Play Again?", games_path, method: "post", class:"text-success"%></p>
    </div>
  </div>

<%= render 'game_board' %>